$bg: #161616;
$bg-alt-1: #262626;
$bg-alt-2: #393939;

$fg: #f2f4f8;

$hl: #FF7EB6;
$hl-alt-1: #33B1FF;
$hl-alt-2: #42be65;

$icon-color: #f2f4f8;
$button-hover-color: #FF7EB6;

$battery-dial-bg: #42be65;
$battery-dial-fg: #161616;

$volume-dial-bg: #33B1FF;
$volume-dial-fg: #161616;

$brightness-dial-bg: #33B1FF;
$brightness-dial-fg: #161616;

$ws-active: #FF7EB6;
$ws-inactive: $bg;

$mpd-progress-primary: #FF7Eb6;

$resource-dial-fg-cpu: #FF7eb6;
$resource-dial-fg-mem: #FF7eb6;
$resource-dial-fg-tmp: #FF7eb6;
$resource-dial-fg-fan: #FF7eb6;
