* {
  all: unset; }

bar {
  background: transparent; }

box.workspaces {
  min-height: 50px;
  background: #161616;
  padding: 5px; }
  box.workspaces box > button {
    min-width: 10px;
    min-height: 10px;
    margin: 5px;
    background-color: #262626; }
    box.workspaces box > button.occupied {
      background-color: #393939; }
    box.workspaces box > button.focused {
      background-color: #FF7EB6; }
