* :not(selection) :not(tooltip) {
    all: unset;
}

#status-bar {
  background-color: $bg;

  border-radius: 0 10px 10px 0; 

  .dial-container {
    margin-top: 10px;

    .battery-dial {
      @include bar-dial($battery-dial-bg, $battery-dial-fg)
    }    

    .volume-dial {
      @include bar-dial($volume-dial-bg, $volume-dial-fg)
    }    

    .brightness-dial {
      @include bar-dial($brightness-dial-bg, $brightness-dial-fg)
    }
  }

  .workspace-container {
    background-color: $bg-alt-1;
    border-radius: 10px;
    padding: 6px 0px;
    margin: 0px 12px;
      border: none;

    .ws-norm {
      min-width: 15px;
      border-radius: 10px;
      margin: 2px 5px;
      padding: 6px 10px; 
      background-color: $ws-inactive;
      color: $fg;
    }

    .ws-active {
      color: $bg;
      background-color: $ws-active;
    }
  }

  .menu-visibility-button {
    border-radius: 0px 10px 10px 0px;
    padding: 10px 0px 10px 2px;
    background-color: $bg-alt-1
  }

  .clock {
    background-color: $bg-alt-1;
    margin: 8px;
    margin-bottom: 10px;
    padding: 6px 2px;
    border-radius: 10px;
  }

  .mpd-controls {
    .button {
      font-size: 14px;
      margin: 2px;
      margin-bottom: 8px;
      font-family: 'Symbols Nerd Font Mono';

      &:hover {
        color: $button-hover-color;
      }
    }
  }
}

