.lock-ready > box{
  box {
    background: $bg;
    padding: 20px;
    border: 10px solid $hl-alt-1;
    min-width: 300px;
    margin: 15px;
  }

  .img {
    background: url('/home/catalie/.config/wallpaper');
    min-width: 300px;
    min-height: 300px;
    background-position: 25% 12.5%; 
    background-size: cover;
  }

  box > entry {
    background: $bg-alt-1;
    font-size: 14px;
    padding: 5px;
    margin: 10px;
  }
}

.lock {
  background: transparent;
}
